.editorPageWrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.editorWrapper {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}

.workbench {
  width: 280px;
  min-width: 280px;
  height: 100%;
  background-color: var(--mantine-color-gray-0);
  border-right: 1px solid var(--mantine-color-gray-3);
  padding: 16px;
}

.canvas {
  flex: 1;
  overflow: auto;
  height: 100%;
  background-color: white;
}

.codeEditorWrapper {
  width: 450px;
  min-width: 350px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-xs);
  border-left: 1px solid var(--mantine-color-gray-3);
  background-color: var(--mantine-color-gray-0);
  padding: var(--mantine-spacing-xs);
}

.codeEditor {
  flex: 1;
  overflow: auto;
  background-color: white;
  border: 1px solid var(--mantine-color-gray-2);
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.03);
}

.codeOutput {
  height: 350px;
  overflow: auto;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.03);
}
