.wrapper {
  position: relative;
  box-sizing: border-box;
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-8)
  );
}

.inner {
  position: relative;
  padding-top: 200px;
  padding-bottom: 120px;
}

.title {
  font-size: 70px;
}

.description {
  font-size: 24px;
}
