/* Base block style */
.base {
  cursor: grab;
  width: fit-content;
  display: flex;
  gap: 8px;
  align-items: center;
  color: white;
  font-weight: bold;
  padding: 5px 12px;
  border-radius: 3px;
  transition: box-shadow 0.15s ease;
}

.select {
  color: white;
  border: none;
  border-radius: 2px;
  padding: 2px 4px;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
  outline: none;
}
