/* Base block style */
.base {
  cursor: grab;
  width: fit-content;
  display: flex;
  gap: 8px;
  align-items: center;
  color: white;
  font-weight: bold;
  padding: 5px 12px;
  border-radius: 3px;
  transition: box-shadow 0.15s ease;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.select {
  color: white;
  border: none;
  border-radius: 2px;
  padding: 2px 4px;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
  outline: none;
}

.snapTarget {
  background-color: rgba(255, 255, 255, 0.3);
  min-width: 24px;
  min-height: 24px;
  border-radius: 2px;
  border: 2px dashed rgba(255, 255, 255, 0.7);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerDropZone {
  background-color: rgba(255, 255, 255, 0.3);
  min-width: 24px;
  width: 100%;
  min-height: 24px;
  border-radius: 2px;
  border: 2px dashed rgba(255, 255, 255, 0.7);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 'all 0.2s ease-in-out';
}

.blockDropZone {
  background-color: red;
  height: 34px;
}
